{% extends 'base.html.twig' %}

{% block titre %}About{% endblock %}

{% block body %}
    <h1>A propos de nous</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas amet mollitia aspernatur, doloremque voluptatem error hic optio ab. Placeat molestiae odit debitis aliquam architecto repellat ab veritatis, quas in exercitationem?
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel soluta voluptatem aut, nam nulla ut deserunt. Nulla quisquam expedita amet minima, ea optio omnis soluta. Aperiam dolore repellendus ratione excepturi?
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, animi. Aspernatur est possimus doloribus fuga earum, laborum suscipit reiciendis a facere officia beatae eius sint blanditiis ipsa porro dolor itaque.</p>
{% endblock %}
