{% extends 'base.html.twig' %}

{% block titre %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur ce site de canapés</h1>
    <h2>Vous êtes maintenant sur la page d'accueil</h2>
{% endblock %}
